@charset "UTF-8";
:root {
  --color-primary: #ee75d2;
  --color-secondary: #75d8ee;
  --color-tertiary: #deee75;
  --color-quaternary: #9375ee;
  --color-bg: #0f021f;
}

@property --duration {
  syntax: "<time>";
  inherits: true;
  initial-value: 0s;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  gap: 0.25rem;
  height: 100vh;
  transform: translateY(-120vh);
  animation-name: fall;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  /* animation-duration and delay will be set inline in JS */
}

.variant {
  display: flex;
  flex-direction: column-reverse;
  mask: linear-gradient(to bottom, transparent 50%, black);
  -webkit-mask: linear-gradient(to bottom, transparent 50%, black);
  background: linear-gradient(to bottom, var(--color-secondary) 70%, var(--color-primary) 90%, var(--color-tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fall {
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  to {
    transform: translateY(2vh);
    opacity: 0;
  }
}

.drop {
  display: grid;
  place-items: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--color-primary);
  user-select: none;
}

.drop:first-child {
  position: relative;
}

.drop:first-child:after {
  content: "✨";
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  color: var(--color-primary);
  -webkit-text-fill-color: var(--color-primary);
  z-index: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Road Rage", "Helvetica Neue", serif;
  font-weight: bold;
  overflow: hidden;
  background: linear-gradient(to bottom, var(--color-bg), black);
  color: var(--color-primary);
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 50rem) {
  :root {
    font-size: 90%;
  }
}
